# Node.js & Bundler
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
*.jsbundle

# macOS
.DS_Store

# Xcode / iOS
ios/build/
ios/Pods/
ios/DerivedData/
*.xcworkspace
*.hmap
*.ipa
*.xcuserstate
*.xcuserdata/
**/.xcode.env.local

# Xcode - User specific
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.moved-aside

# Android / IntelliJ
android/app/build/
android/build/
android/.gradle/
android/local.properties
.idea/
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# react-native-config
ios/tmp.xcconfig

# Ruby / CocoaPods
/vendor/bundle/

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Metro
.metro-health-check*

# Testing
/coverage

# Expo
.expo/
.expo-shared/

# Logs
*.log

# Google Services
android/app/google-services.json